logs/
npm-debug.log
yarn-error.log
node_modules/
coverage/
.idea/
run/
.DS_Store
.vscode
*.swp
*.lock
package-lock.json
*.js
!.autod.conf.js

app/**/*.js
test/**/*.js
config/**/*.js
app/**/*.map
test/**/*.map
config/**/*.map

!config/config.default.ts
config/config.*.ts

!lint-staged.config.js
!tools/commitlint-config.js
